/*  your css code here. If applicable */
body{
	background:lightblue;
	text-align:center
}
li{
	list-style:none;
}
h1{
	color:red;
	background:lightgoldenrodyellow
}
p{
	background:lavender
}
h2{
	color:lavenderblush;
	background:lightgray
}